* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  height: 100px;
  width: 100px;
}

.tabs-list {
  display: flex;
  gap: 10px;
}

.tabs-trigger {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tabs-trigger:hover {
  background-color: #ccc;
  color: white;
}

.tabs-navigate {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tabs-navigate-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tabs-navigate-button:hover {
  background-color: #ccc;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1001;
}

.modal-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-close-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #ccc;
  color: white;
}

.modal-trigger {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-trigger:hover {
  background-color: #ccc;
  color: white;
}